<a href="https://colab.research.google.com/github/bchaithanyasai/PredictLateArrivalsPaper/blob/master/Data_Cleaning_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install httplib2==0.15.0

Collecting httplib2==0.15.0
  Downloading https://files.pythonhosted.org/packages/be/83/5e006e25403871ffbbf587c7aa4650158c947d46e89f2d50dcaf018464de/httplib2-0.15.0-py3-none-any.whl (94kB)
     |████████████████████████████████| 102kB 2.7MB/s
ERROR: google-api-python-client 1.7.12 has requirement httplib2<1dev,>=0.17.0, but you'll have httplib2 0.15.0 which is incompatible.
Installing collected packages: httplib2
  Found existing installation: httplib2 0.17.2
    Uninstalling httplib2-0.17.2:
      Successfully uninstalled httplib2-0.17.2
Successfully installed httplib2-0.15.0

In [3]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

flightdata = pd.read_csv('/content/drive/My Drive/DataSet.csv')

In [5]:
flightdata

         ACTUAL_ELAPSED_TIME  AIR_TIME  ARR_DELAY  ...  WHEELS_OFF  WHEELS_ON  YEAR
0                       37.0      18.0      -12.0  ...      1700.0     1718.0  2019
1                       32.0      19.0      -20.0  ...      1650.0     1709.0  2019
2                       39.0      19.0      -13.0  ...      1658.0     1717.0  2019
3                       37.0      19.0      -15.0  ...      1654.0     1713.0  2019
4                       41.0      21.0      -11.0  ...      1656.0     1717.0  2019
...                      ...       ...        ...  ...         ...        ...   ...
7422600                151.0     126.0       52.0  ...      1520.0     1726.0  2019
7422601                 79.0      57.0      -17.0  ...      1429.0     1526.0  2019
7422602                 59.0      42.0      -34.0  ...       704.0      746.0  2019
7422603                216.0     203.0      -27.0  ...       822.0     1245.0  2019
7422604                231.0     211.0      -16.0  ...       441.0      712.0  2019

[7422605 rows x 39 columns]

In [0]:
df=flightdata.copy()

In [7]:
df.columns

Index(['ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'ARR_DELAY', 'ARR_TIME', 'CANCELLED',
       'CARRIER_DELAY', 'CRS_ARR_TIME', 'CRS_DEP_TIME', 'CRS_ELAPSED_TIME',
       'DAY_OF_MONTH', 'DAY_OF_WEEK', 'DEP_DEL15', 'DEP_DELAY', 'DEP_TIME',
       'DEST', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_NAME',
       'DISTANCE', 'DIVERTED', 'FLIGHTS', 'LATE_AIRCRAFT_DELAY', 'MONTH',
       'NAS_DELAY', 'OP_CARRIER', 'ORIGIN', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_NAME', 'QUARTER',
       'SECURITY_DELAY', 'TAXI_IN', 'TAXI_OUT', 'Unnamed: 33', 'Unnamed: 37',
       'WEATHER_DELAY', 'WHEELS_OFF', 'WHEELS_ON', 'YEAR'],
      dtype='object')

In [8]:
df.head()

   ACTUAL_ELAPSED_TIME  AIR_TIME  ARR_DELAY  ...  WHEELS_OFF  WHEELS_ON  YEAR
0                 37.0      18.0      -12.0  ...      1700.0     1718.0  2019
1                 32.0      19.0      -20.0  ...      1650.0     1709.0  2019
2                 39.0      19.0      -13.0  ...      1658.0     1717.0  2019
3                 37.0      19.0      -15.0  ...      1654.0     1713.0  2019
4                 41.0      21.0      -11.0  ...      1656.0     1717.0  2019

[5 rows x 39 columns]

In [0]:
df=df[['YEAR','MONTH','DAY_OF_MONTH','DAY_OF_WEEK','OP_CARRIER','ORIGIN','DEST','CRS_DEP_TIME','DEP_TIME','DEP_DELAY',
            'CRS_ARR_TIME','ARR_TIME','ARR_DELAY','CRS_ELAPSED_TIME','ACTUAL_ELAPSED_TIME','TAXI_OUT','WHEELS_OFF','DISTANCE','DIVERTED',
            'AIR_TIME','NAS_DELAY','SECURITY_DELAY','CARRIER_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY']]

df.columns=['YEAR','MONTH','DAY','DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT'
        ,'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
        'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
        'SCHEDULED_TIME', 'ELAPSED_TIME','TAXI_OUT','WHEELS_OFF','DISTANCE','DIVERTED','AIR_TIME',
        'AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY']

In [10]:
df.head()

   YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY WEATHER_DELAY
0  2019      1    6  ...            NaN                 NaN           NaN
1  2019      1    7  ...            NaN                 NaN           NaN
2  2019      1    8  ...            NaN                 NaN           NaN
3  2019      1    9  ...            NaN                 NaN           NaN
4  2019      1   10  ...            NaN                 NaN           NaN

[5 rows x 25 columns]

Now that we have imported our dataset of flights let's check if the dataset has missing values (if yes how many in each column or feature)

In [11]:
missing_val_count_by_column=(df.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column>0])

DEPARTURE_TIME          131617
DEPARTURE_DELAY         131642
ARRIVAL_TIME            139270
ARRIVAL_DELAY           155943
SCHEDULED_TIME             136
ELAPSED_TIME            155943
TAXI_OUT                135619
WHEELS_OFF              135619
AIR_TIME                155943
AIR_SYSTEM_DELAY       6031000
SECURITY_DELAY         6031000
AIRLINE_DELAY          6031000
LATE_AIRCRAFT_DELAY    6031000
WEATHER_DELAY          6031000
dtype: int64

***The reason of choosing each column is as follows***: 



> *Note: We split them into two datasets for easier and efficient handling of missing values*



Year, Month, Day, Day_of_week, Airline, Origin_airport, Destination_airport, Scheduled_departure, **Departure_time**, **Departure_delay**, Scheduled_arrival, **Arrival_time**, **Arrival_delay**, **Scheduled_time**, **Elapsed_time**-----***They do not have many missing values (if any they would be handled at last by dropping them as we cannot impute them)***

Taxi_out, Wheels_off, Distance, Diverted, Air_time, **Air_system_delay**, **Security_delay**, **Airline_delay**, **Late_aircraft_delay**, **Weather_delay**------***They do have missing values which could be either handled by imputation or dropping them***

In [0]:
df2 = df[['YEAR','MONTH','DAY','DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT'
        ,'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
        'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
        'SCHEDULED_TIME', 'ELAPSED_TIME','TAXI_OUT','WHEELS_OFF','DISTANCE','DIVERTED','AIR_TIME']]

In [0]:
df3=df[['AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY']]

In [14]:
df2.head()

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... WHEELS_OFF DISTANCE DIVERTED  AIR_TIME
0  2019      1    6            7  ...     1700.0     83.0      0.0      18.0
1  2019      1    7            1  ...     1650.0     83.0      0.0      19.0
2  2019      1    8            2  ...     1658.0     83.0      0.0      19.0
3  2019      1    9            3  ...     1654.0     83.0      0.0      19.0
4  2019      1   10            4  ...     1656.0     83.0      0.0      21.0

[5 rows x 20 columns]

In [15]:
df3.head()

   AIR_SYSTEM_DELAY  SECURITY_DELAY  ...  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0               NaN             NaN  ...                  NaN            NaN
1               NaN             NaN  ...                  NaN            NaN
2               NaN             NaN  ...                  NaN            NaN
3               NaN             NaN  ...                  NaN            NaN
4               NaN             NaN  ...                  NaN            NaN

[5 rows x 5 columns]

Let's store our unhandled data for prediction by algorithms that are capable of dealing with missing values by themselves like for example, **XGBoost** and **LightGBM**

In [16]:
Unhandled_MissingValues_Data=df2.join(df3)
Unhandled_MissingValues_Data

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY WEATHER_DELAY
0        2019      1    6  ...            NaN                 NaN           NaN
1        2019      1    7  ...            NaN                 NaN           NaN
2        2019      1    8  ...            NaN                 NaN           NaN
3        2019      1    9  ...            NaN                 NaN           NaN
4        2019      1   10  ...            NaN                 NaN           NaN
...       ...    ...  ...  ...            ...                 ...           ...
7422600  2019     12   31  ...           52.0                 0.0           0.0
7422601  2019     12   31  ...            NaN                 NaN           NaN
7422602  2019     12   31  ...            NaN                 NaN           NaN
7422603  2019     12   31  ...            NaN                 NaN           NaN
7422604  2019     12   31  ...            NaN                 NaN           NaN

[7422605 rows x 25 columns]

We now check as to much of our columns in 'df2' dataset are filled so as to choose a strategy to handle the missing values.

In [17]:
missing_df = df2.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df2.shape[0]-missing_df['missing values'])/df2.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

               variable  missing values  filling factor (%)
0              AIR_TIME          155943           97.899080
1          ELAPSED_TIME          155943           97.899080
2         ARRIVAL_DELAY          155943           97.899080
3          ARRIVAL_TIME          139270           98.123705
4            WHEELS_OFF          135619           98.172892
5              TAXI_OUT          135619           98.172892
6       DEPARTURE_DELAY          131642           98.226472
7        DEPARTURE_TIME          131617           98.226809
8        SCHEDULED_TIME             136           99.998168
9   SCHEDULED_DEPARTURE               0          100.000000
10             DIVERTED               0          100.000000
11    SCHEDULED_ARRIVAL               0          100.000000
12       ORIGIN_AIRPORT               0          100.000000
13              AIRLINE               0          100.000000
14          DAY_OF_WEEK               0          100.000000
15                  DAY               0          100.000000
16                MONTH               0          100.000000
17             DISTANCE               0          100.000000
18  DESTINATION_AIRPORT               0          100.000000
19                 YEAR               0          100.000000

So based on the filling factor column as shown in the above cell's output we can safely **drop the rows (dropping is chosen over imputation for the reason that filling factor is >98% hence we would not be losing much precious data) that contain the missing values in the 'df2'** dataset's columns.

In [18]:
missing_df = df3.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df3.shape[0]-missing_df['missing values'])/df3.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

              variable  missing values  filling factor (%)
0     AIR_SYSTEM_DELAY         6031000           18.748202
1       SECURITY_DELAY         6031000           18.748202
2        AIRLINE_DELAY         6031000           18.748202
3  LATE_AIRCRAFT_DELAY         6031000           18.748202
4        WEATHER_DELAY         6031000           18.748202

In [19]:
df3

         AIR_SYSTEM_DELAY  SECURITY_DELAY  ...  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0                     NaN             NaN  ...                  NaN            NaN
1                     NaN             NaN  ...                  NaN            NaN
2                     NaN             NaN  ...                  NaN            NaN
3                     NaN             NaN  ...                  NaN            NaN
4                     NaN             NaN  ...                  NaN            NaN
...                   ...             ...  ...                  ...            ...
7422600               0.0             0.0  ...                  0.0            0.0
7422601               NaN             NaN  ...                  NaN            NaN
7422602               NaN             NaN  ...                  NaN            NaN
7422603               NaN             NaN  ...                  NaN            NaN
7422604               NaN             NaN  ...                  NaN            NaN

[7422605 rows x 5 columns]

In [0]:
df3=df3.assign(AIR_SYSTEM_DELAY_is_missing=(df3["AIR_SYSTEM_DELAY"].isna()).astype(int))

In [0]:
df3=df3.assign(SECURITY_DELAY_is_missing=(df3["SECURITY_DELAY"].isna()).astype(int))

In [0]:
df3=df3.assign(AIRLINE_DELAY_is_missing=(df3["AIRLINE_DELAY"].isna()).astype(int))

In [0]:
df3=df3.assign(LATE_AIRCRAFT_DELAY_is_missing=(df3["LATE_AIRCRAFT_DELAY"].isna()).astype(int))

In [0]:
df3=df3.assign(WEATHER_DELAY_is_missing=(df3["WEATHER_DELAY"].isna()).astype(int))

In [25]:
df3

         AIR_SYSTEM_DELAY  ...  WEATHER_DELAY_is_missing
0                     NaN  ...                         1
1                     NaN  ...                         1
2                     NaN  ...                         1
3                     NaN  ...                         1
4                     NaN  ...                         1
...                   ...  ...                       ...
7422600               0.0  ...                         0
7422601               NaN  ...                         1
7422602               NaN  ...                         1
7422603               NaN  ...                         1
7422604               NaN  ...                         1

[7422605 rows x 10 columns]

In [0]:
df3=df3.fillna(0)

In [27]:
df=df2.join(df3)
df

         YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
0        2019      1  ...                               1                         1
1        2019      1  ...                               1                         1
2        2019      1  ...                               1                         1
3        2019      1  ...                               1                         1
4        2019      1  ...                               1                         1
...       ...    ...  ...                             ...                       ...
7422600  2019     12  ...                               0                         0
7422601  2019     12  ...                               1                         1
7422602  2019     12  ...                               1                         1
7422603  2019     12  ...                               1                         1
7422604  2019     12  ...                               1                         1

[7422605 rows x 30 columns]

In [28]:
df.isna().sum()

YEAR                                   0
MONTH                                  0
DAY                                    0
DAY_OF_WEEK                            0
AIRLINE                                0
ORIGIN_AIRPORT                         0
DESTINATION_AIRPORT                    0
SCHEDULED_DEPARTURE                    0
DEPARTURE_TIME                    131617
DEPARTURE_DELAY                   131642
SCHEDULED_ARRIVAL                      0
ARRIVAL_TIME                      139270
ARRIVAL_DELAY                     155943
SCHEDULED_TIME                       136
ELAPSED_TIME                      155943
TAXI_OUT                          135619
WHEELS_OFF                        135619
DISTANCE                               0
DIVERTED                               0
AIR_TIME                          155943
AIR_SYSTEM_DELAY                       0
SECURITY_DELAY                         0
AIRLINE_DELAY                          0
LATE_AIRCRAFT_DELAY                    0
WEATHER_DELAY                          0
AIR_SYSTEM_DELAY_is_missing            0
SECURITY_DELAY_is_missing              0
AIRLINE_DELAY_is_missing               0
LATE_AIRCRAFT_DELAY_is_missing         0
WEATHER_DELAY_is_missing               0
dtype: int64

In [29]:
df.dropna(inplace = True)
df

         YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
0        2019      1  ...                               1                         1
1        2019      1  ...                               1                         1
2        2019      1  ...                               1                         1
3        2019      1  ...                               1                         1
4        2019      1  ...                               1                         1
...       ...    ...  ...                             ...                       ...
7422600  2019     12  ...                               0                         0
7422601  2019     12  ...                               1                         1
7422602  2019     12  ...                               1                         1
7422603  2019     12  ...                               1                         1
7422604  2019     12  ...                               1                         1

[7266662 rows x 30 columns]

In [0]:
df_aircode1=pd.read_csv(r'/content/drive/My Drive/PredictLateArrivals_Dataset/L_AIRPORT.csv')
df_aircode2=pd.read_csv(r'/content/drive/My Drive/PredictLateArrivals_Dataset/L_AIRPORT_ID.csv')

In [0]:
df_aircode1=df_aircode1.reset_index()
df_aircode2=df_aircode2.reset_index()
df_aircodes=pd.merge(df_aircode1,df_aircode2,on="Description")
aircode_dict = dict(zip(df_aircodes['Code_y'].astype(str),df_aircodes['Code_x']))

In [33]:
df['ORIGIN_AIRPORT'] = df['ORIGIN_AIRPORT'].values.astype(str)
df['DESTINATION_AIRPORT'] = df['DESTINATION_AIRPORT'].values.astype(str)

N_flights = len(df)
for i in range(N_flights):
    if i % 100000 == 0:
        print(i)
    if len(df['ORIGIN_AIRPORT'][i]) != 3:
        to_replace = df['ORIGIN_AIRPORT'][i]
        value = aircode_dict[df['ORIGIN_AIRPORT'][i]]
        df = df.replace(to_replace, value)
        print('replaced',to_replace,'with',value)
    elif len(df['DESTINATION_AIRPORT'][i]) != 3:
        to_replace = df['DESTINATION_AIRPORT'][i]
        value = aircode_dict[df['DESTINATION_AIRPORT'][i]]
        df = df.replace(to_replace, value)
        print('replaced',to_replace,'with',value)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000

In [36]:
df.drop("index",inplace=True,axis=1)
df.head()

   YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
0  2019      1  ...                               1                         1
1  2019      1  ...                               1                         1
2  2019      1  ...                               1                         1
3  2019      1  ...                               1                         1
4  2019      1  ...                               1                         1

[5 rows x 30 columns]

In [0]:
df.to_csv("Handled_data_2019.csv",index=False)

In [41]:
# Import PyDrive and associated libraries.
# This only needs to be done once in a notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a text file.
uploaded = drive.CreateFile({'title': 'Handled_data_2019.csv'})
uploaded.SetContentFile("Handled_data_2019.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 1OUo9WhCbOqzvGD5CtOGTBBiB5cTcXmcA

In [42]:
Unhandled_MissingValues_Data

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY WEATHER_DELAY
0        2019      1    6  ...            NaN                 NaN           NaN
1        2019      1    7  ...            NaN                 NaN           NaN
2        2019      1    8  ...            NaN                 NaN           NaN
3        2019      1    9  ...            NaN                 NaN           NaN
4        2019      1   10  ...            NaN                 NaN           NaN
...       ...    ...  ...  ...            ...                 ...           ...
7422600  2019     12   31  ...           52.0                 0.0           0.0
7422601  2019     12   31  ...            NaN                 NaN           NaN
7422602  2019     12   31  ...            NaN                 NaN           NaN
7422603  2019     12   31  ...            NaN                 NaN           NaN
7422604  2019     12   31  ...            NaN                 NaN           NaN

[7422605 rows x 25 columns]

In [0]:
Unhandled_MissingValues_Data.to_csv("Unhandled_data_2019.csv",index=False)

In [44]:
# Import PyDrive and associated libraries.
# This only needs to be done once in a notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a text file.
uploaded = drive.CreateFile({'title': 'Unhandled_data_2019.csv'})
uploaded.SetContentFile("Unhandled_data_2019.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 1ivoJ8gSTmbhFNt79IW9ZsKKHe88ApsXB