<a href="https://colab.research.google.com/github/bchaithanyasai/PredictLateArrivalsPaper/blob/master/Data_Cleaning_2015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
pip install httplib2==0.15.0

Collecting httplib2==0.15.0
  Downloading https://files.pythonhosted.org/packages/be/83/5e006e25403871ffbbf587c7aa4650158c947d46e89f2d50dcaf018464de/httplib2-0.15.0-py3-none-any.whl (94kB)
     |████████████████████████████████| 102kB 1.5MB/s
ERROR: google-api-python-client 1.7.12 has requirement httplib2<1dev,>=0.17.0, but you'll have httplib2 0.15.0 which is incompatible.
Installing collected packages: httplib2
  Found existing installation: httplib2 0.17.1
    Uninstalling httplib2-0.17.1:
      Successfully uninstalled httplib2-0.17.1
Successfully installed httplib2-0.15.0

In [0]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.38.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)

In [0]:
!mkdir /root/.kaggle

In [0]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"bchaithanyasai","key":"0b58fa9aae58389cf6b4737e58677d74"}'}

In [0]:
!pwd

/content

In [0]:
!ls

drive  kaggle.json  sample_data

In [0]:
!cp /content/kaggle.json /root/.kaggle/

In [0]:
!kaggle datasets list

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                            title                                                size  lastUpdated          downloadCount
-------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge              COVID-19 Open Research Dataset Challenge (CORD-19)    1GB  2020-04-03 22:53:52          42618
fireballbyedimyrnmom/us-counties-covid-19-dataset              US counties COVID 19 dataset                        246KB  2020-04-05 11:44:01           1053
ryanxjhan/cbc-news-coronavirus-articles-march-26               CBC News Coronavirus/COVID-19 Articles (NLP)          6MB  2020-03-27 23:23:07            334
vitaliymalcev/russian-passenger-air-service-20072020           Russian passenger air service 2007-2020             239KB  2020-04-02 22:27:03            236
bappekim/air-pollution-in-seoul                                Air Pollution in Seoul                               20MB  2020-04-03 16:33:49            264
danevans/world-bank-wdi-212-health-systems                     World Bank WDI 2.12 - Health Systems                  6KB  2020-03-29 19:00:14            410
sobhanmoosavi/us-accidents                                     US Accidents (3.0 million records)                  199MB  2020-01-17 04:45:09          12354
eswarchandt/amazon-music-reviews                               Amazon Musicual Instruments Reviews                   5MB  2020-03-29 02:59:52            199
trtmio/project-coviewed-subreddit-coronavirus-news-corpus      Project COVIEWED Coronavirus News Corpus              8MB  2020-03-31 11:32:45             49
monogenea/birdsongs-from-europe                                Bird songs from Europe (xeno-canto)                   7GB  2020-03-23 15:35:20             37
dheerajmpai/hospitals-and-beds-in-india                        Hospitals and beds in India (Statewise)               5KB  2020-03-27 14:05:50            277
lakritidis/identifying-influential-bloggers-techcrunch         Identifying Influential Bloggers: Techcrunch        112MB  2020-03-30 19:22:09             55
roche-data-science-coalition/uncover                           UNCOVER COVID-19 Challenge                          154MB  2020-04-01 15:17:39           1074
kimjihoo/coronavirusdataset                                    Data Science for COVID-19 (DS4C)                      3MB  2020-03-30 19:54:12          25133
sudalairajkumar/novel-corona-virus-2019-dataset                Novel Corona Virus 2019 Dataset                     676KB  2020-04-05 03:58:42         112205
unanimad/dataisbeautiful                                       Reddit - Data is Beautiful                           11MB  2020-04-01 12:10:09           1498
jessemostipak/hotel-booking-demand                             Hotel booking demand                                  1MB  2020-02-13 01:27:20          12601
rubenssjr/brasilian-houses-to-rent                             brazilian_houses_to_rent                            282KB  2020-03-25 22:51:17           1642
paultimothymooney/covid19-containment-and-mitigation-measures  COVID-19 containment and mitigation measures        216KB  2020-04-03 11:08:32           1258
clmentbisaillon/fake-and-real-news-dataset                     Fake and real news dataset                           41MB  2020-03-26 18:51:15            704

In [0]:
!cd /content

In [0]:
!kaggle datasets download -d usdot/flight-delays

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading flight-delays.zip to /content
 97% 185M/191M [00:03<00:00, 54.1MB/s]
100% 191M/191M [00:03<00:00, 56.0MB/s]

In [0]:
!ls

drive  flight-delays.zip  kaggle.json  sample_data

In [0]:
import pandas as pd
!pip install pyunpack
from pyunpack import Archive
Archive('flight-delays.zip').extractall('/content')

Collecting pyunpack
  Downloading https://files.pythonhosted.org/packages/79/dc/44cd41fb99d184ae7c2eac439a52ca624d5ece62b0302c3437fcc4ce3b58/pyunpack-0.1.2.tar.gz
Collecting easyprocess
  Downloading https://files.pythonhosted.org/packages/32/8f/88d636f1da22a3c573259e44cfefb46a117d3f9432e2c98b1ab4a21372ad/EasyProcess-0.2.10-py2.py3-none-any.whl
Building wheels for collected packages: pyunpack
  Building wheel for pyunpack (setup.py) ... done
  Created wheel for pyunpack: filename=pyunpack-0.1.2-cp36-none-any.whl size=5163 sha256=f227f96bac7494f7b85892c3773dfa7b0327e4a0fdf4fda326b11b0aa2bbcb68
  Stored in directory: /root/.cache/pip/wheels/af/44/08/60613970881e542c0baad1f2dea5ed8e6716bc573f49197b7e
Successfully built pyunpack
Installing collected packages: easyprocess, pyunpack
Successfully installed easyprocess-0.2.10 pyunpack-0.1.2

In [0]:
!ls

airlines.csv  drive		 flights.csv  sample_data
airports.csv  flight-delays.zip  kaggle.json

In [0]:
flightdata = pd.read_csv('/content/flights.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
flightdata

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0        2015      1    1  ...            NaN                 NaN            NaN
1        2015      1    1  ...            NaN                 NaN            NaN
2        2015      1    1  ...            NaN                 NaN            NaN
3        2015      1    1  ...            NaN                 NaN            NaN
4        2015      1    1  ...            NaN                 NaN            NaN
...       ...    ...  ...  ...            ...                 ...            ...
5819074  2015     12   31  ...            NaN                 NaN            NaN
5819075  2015     12   31  ...            NaN                 NaN            NaN
5819076  2015     12   31  ...            NaN                 NaN            NaN
5819077  2015     12   31  ...            NaN                 NaN            NaN
5819078  2015     12   31  ...            NaN                 NaN            NaN

[5819079 rows x 31 columns]

In [0]:
airlinesdata=pd.read_csv("airlines.csv")
airlinesdata

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [0]:
airportsdata=pd.read_csv("airports.csv")
airportsdata

    IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0         ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1         ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2         ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3         ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4         ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447
..        ...                                  ...  ...       ...        ...
317       WRG                     Wrangell Airport  ...  56.48433 -132.36982
318       WYS               Westerly State Airport  ...  44.68840 -111.11764
319       XNA  Northwest Arkansas Regional Airport  ...  36.28187  -94.30681
320       YAK                      Yakutat Airport  ...  59.50336 -139.66023
321       YUM           Yuma International Airport  ...  32.65658 -114.60597

[322 rows x 7 columns]

In [0]:
df=flightdata

Now that we have imported our dataset of flights let's check if the dataset has missing values (if yes how many in each column or feature)

In [0]:
missing_val_count_by_column=(df.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column>0])

TAIL_NUMBER              14721
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
WHEELS_ON                92513
TAXI_IN                  92513
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

***The reason of choosing each column is as follows***: 



> *Note: We split them into two datasets for easier and efficient handling of missing values*



Year, Month, Day, Day_of_week, Airline, Origin_airport, Destination_airport, Scheduled_departure, **Departure_time**, **Departure_delay**, Scheduled_arrival, **Arrival_time**, **Arrival_delay**, **Scheduled_time**, **Elapsed_time**-----***They do not have many missing values (if any they would be handled at last by dropping them as we cannot impute them)***

Taxi_out, Wheels_off, Distance, Diverted, Air_time, **Air_system_delay**, **Security_delay**, **Airline_delay**, **Late_aircraft_delay**, **Weather_delay**------***They do have missing values which could be either handled by imputation or dropping them***

In [0]:
df2 = df[['YEAR','MONTH','DAY','DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT'
        ,'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY',
        'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
        'SCHEDULED_TIME', 'ELAPSED_TIME','TAXI_OUT','WHEELS_OFF','DISTANCE','DIVERTED','AIR_TIME']]

In [0]:
df3=df[['AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY']]

In [0]:
df2.head()

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... WHEELS_OFF DISTANCE DIVERTED  AIR_TIME
0  2015      1    1            4  ...       15.0     1448        0     169.0
1  2015      1    1            4  ...       14.0     2330        0     263.0
2  2015      1    1            4  ...       34.0     2296        0     266.0
3  2015      1    1            4  ...       30.0     2342        0     258.0
4  2015      1    1            4  ...       35.0     1448        0     199.0

[5 rows x 20 columns]

In [0]:
df3.head()

   AIR_SYSTEM_DELAY  SECURITY_DELAY  ...  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0               NaN             NaN  ...                  NaN            NaN
1               NaN             NaN  ...                  NaN            NaN
2               NaN             NaN  ...                  NaN            NaN
3               NaN             NaN  ...                  NaN            NaN
4               NaN             NaN  ...                  NaN            NaN

[5 rows x 5 columns]

Let's store our unhandled data for prediction by algorithms that are capable of dealing with missing values by themselves like for example, **XGBoost** and **LightGBM**

In [0]:
Unhandled_MissingValues_Data=df2.join(df3)
Unhandled_MissingValues_Data

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY WEATHER_DELAY
0        2015      1    1  ...            NaN                 NaN           NaN
1        2015      1    1  ...            NaN                 NaN           NaN
2        2015      1    1  ...            NaN                 NaN           NaN
3        2015      1    1  ...            NaN                 NaN           NaN
4        2015      1    1  ...            NaN                 NaN           NaN
...       ...    ...  ...  ...            ...                 ...           ...
5819074  2015     12   31  ...            NaN                 NaN           NaN
5819075  2015     12   31  ...            NaN                 NaN           NaN
5819076  2015     12   31  ...            NaN                 NaN           NaN
5819077  2015     12   31  ...            NaN                 NaN           NaN
5819078  2015     12   31  ...            NaN                 NaN           NaN

[5819079 rows x 25 columns]

We now check as to much of our columns in 'df2' dataset are filled so as to choose a strategy to handle the missing values.

In [0]:
missing_df = df2.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df2.shape[0]-missing_df['missing values'])/df2.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

               variable  missing values  filling factor (%)
0              AIR_TIME          105071           98.194371
1          ELAPSED_TIME          105071           98.194371
2         ARRIVAL_DELAY          105071           98.194371
3          ARRIVAL_TIME           92513           98.410178
4            WHEELS_OFF           89047           98.469741
5              TAXI_OUT           89047           98.469741
6        DEPARTURE_TIME           86153           98.519474
7       DEPARTURE_DELAY           86153           98.519474
8        SCHEDULED_TIME               6           99.999897
9   DESTINATION_AIRPORT               0          100.000000
10             DIVERTED               0          100.000000
11    SCHEDULED_ARRIVAL               0          100.000000
12       ORIGIN_AIRPORT               0          100.000000
13              AIRLINE               0          100.000000
14          DAY_OF_WEEK               0          100.000000
15                  DAY               0          100.000000
16                MONTH               0          100.000000
17             DISTANCE               0          100.000000
18  SCHEDULED_DEPARTURE               0          100.000000
19                 YEAR               0          100.000000

So based on the filling factor column as shown in the above cell's output we can safely **drop the rows (dropping is chosen over imputation for the reason that filling factor is >98% hence we would not be losing much precious data) that contain the missing values in the 'df2'** dataset's columns.

In [0]:
missing_df = df3.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df3.shape[0]-missing_df['missing values'])/df3.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

              variable  missing values  filling factor (%)
0     AIR_SYSTEM_DELAY         4755640            18.27504
1       SECURITY_DELAY         4755640            18.27504
2        AIRLINE_DELAY         4755640            18.27504
3  LATE_AIRCRAFT_DELAY         4755640            18.27504
4        WEATHER_DELAY         4755640            18.27504

In [0]:
df3

         AIR_SYSTEM_DELAY  SECURITY_DELAY  ...  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0                     NaN             NaN  ...                  NaN            NaN
1                     NaN             NaN  ...                  NaN            NaN
2                     NaN             NaN  ...                  NaN            NaN
3                     NaN             NaN  ...                  NaN            NaN
4                     NaN             NaN  ...                  NaN            NaN
...                   ...             ...  ...                  ...            ...
5819074               NaN             NaN  ...                  NaN            NaN
5819075               NaN             NaN  ...                  NaN            NaN
5819076               NaN             NaN  ...                  NaN            NaN
5819077               NaN             NaN  ...                  NaN            NaN
5819078               NaN             NaN  ...                  NaN            NaN

[5819079 rows x 5 columns]

In [0]:
df3=df3.assign(AIR_SYSTEM_DELAY_is_missing=(df3["AIR_SYSTEM_DELAY"].isna()).astype(int))

In [0]:
df3=df3.assign(SECURITY_DELAY_is_missing=(df3["SECURITY_DELAY"].isna()).astype(int))

In [0]:
df3=df3.assign(AIRLINE_DELAY_is_missing=(df3["AIRLINE_DELAY"].isna()).astype(int))

In [0]:
df3=df3.assign(LATE_AIRCRAFT_DELAY_is_missing=(df3["LATE_AIRCRAFT_DELAY"].isna()).astype(int))

In [0]:
df3=df3.assign(WEATHER_DELAY_is_missing=(df3["WEATHER_DELAY"].isna()).astype(int))

In [0]:
df3

         AIR_SYSTEM_DELAY  ...  WEATHER_DELAY_is_missing
0                     NaN  ...                         1
1                     NaN  ...                         1
2                     NaN  ...                         1
3                     NaN  ...                         1
4                     NaN  ...                         1
...                   ...  ...                       ...
5819074               NaN  ...                         1
5819075               NaN  ...                         1
5819076               NaN  ...                         1
5819077               NaN  ...                         1
5819078               NaN  ...                         1

[5819079 rows x 10 columns]

In [0]:
df3=df3.fillna(0)

In [0]:
df=df2.join(df3)
df

         YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
0        2015      1  ...                               1                         1
1        2015      1  ...                               1                         1
2        2015      1  ...                               1                         1
3        2015      1  ...                               1                         1
4        2015      1  ...                               1                         1
...       ...    ...  ...                             ...                       ...
5819074  2015     12  ...                               1                         1
5819075  2015     12  ...                               1                         1
5819076  2015     12  ...                               1                         1
5819077  2015     12  ...                               1                         1
5819078  2015     12  ...                               1                         1

[5819079 rows x 30 columns]

In [0]:
df.isna().sum()

YEAR                                   0
MONTH                                  0
DAY                                    0
DAY_OF_WEEK                            0
AIRLINE                                0
ORIGIN_AIRPORT                         0
DESTINATION_AIRPORT                    0
SCHEDULED_DEPARTURE                    0
DEPARTURE_TIME                     86153
DEPARTURE_DELAY                    86153
SCHEDULED_ARRIVAL                      0
ARRIVAL_TIME                       92513
ARRIVAL_DELAY                     105071
SCHEDULED_TIME                         6
ELAPSED_TIME                      105071
TAXI_OUT                           89047
WHEELS_OFF                         89047
DISTANCE                               0
DIVERTED                               0
AIR_TIME                          105071
AIR_SYSTEM_DELAY                       0
SECURITY_DELAY                         0
AIRLINE_DELAY                          0
LATE_AIRCRAFT_DELAY                    0
WEATHER_DELAY                          0
AIR_SYSTEM_DELAY_is_missing            0
SECURITY_DELAY_is_missing              0
AIRLINE_DELAY_is_missing               0
LATE_AIRCRAFT_DELAY_is_missing         0
WEATHER_DELAY_is_missing               0
dtype: int64

In [0]:
df.dropna(inplace = True)
df

         YEAR  MONTH  ...  LATE_AIRCRAFT_DELAY_is_missing  WEATHER_DELAY_is_missing
0        2015      1  ...                               1                         1
1        2015      1  ...                               1                         1
2        2015      1  ...                               1                         1
3        2015      1  ...                               1                         1
4        2015      1  ...                               1                         1
...       ...    ...  ...                             ...                       ...
5819074  2015     12  ...                               1                         1
5819075  2015     12  ...                               1                         1
5819076  2015     12  ...                               1                         1
5819077  2015     12  ...                               1                         1
5819078  2015     12  ...                               1                         1

[5714008 rows x 30 columns]

In [0]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [0]:
df=df.reset_index()

In [0]:
df_aircode1=pd.read_csv(r'/content/drive/My Drive/PredictLateArrivals_Dataset/L_AIRPORT.csv')
df_aircode2=pd.read_csv(r'/content/drive/My Drive/PredictLateArrivals_Dataset/L_AIRPORT_ID.csv')

In [0]:
df_aircode1=df_aircode1.reset_index()
df_aircode2=df_aircode2.reset_index()
df_aircodes=pd.merge(df_aircode1,df_aircode2,on="Description")
aircode_dict = dict(zip(df_aircodes['Code_y'].astype(str),df_aircodes['Code_x']))

In [0]:
df['ORIGIN_AIRPORT'] = df['ORIGIN_AIRPORT'].values.astype(str)
df['DESTINATION_AIRPORT'] = df['DESTINATION_AIRPORT'].values.astype(str)

N_flights = len(df)
for i in range(N_flights):
    if i % 100000 == 0:
        print(i)
    if len(df['ORIGIN_AIRPORT'][i]) != 3:
        to_replace = df['ORIGIN_AIRPORT'][i]
        value = aircode_dict[df['ORIGIN_AIRPORT'][i]]
        df = df.replace(to_replace, value)
        print('replaced',to_replace,'with',value)
    elif len(df['DESTINATION_AIRPORT'][i]) != 3:
        to_replace = df['DESTINATION_AIRPORT'][i]
        value = aircode_dict[df['DESTINATION_AIRPORT'][i]]
        df = df.replace(to_replace, value)
        print('replaced',to_replace,'with',value)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
replaced 14747 with SEA
replaced 14771 with SFO
replaced 12889 with LAS
replaced 12892 with LAX
replaced 11057 with CLT
replaced 13930 with ORD
replaced 14869 with SLC
replaced 11298 with DFW
replaced 13487 with MSP
replaced 10693 with BNA
replaced 10299 with ANC
replaced 12266 with IAH
replaced 11292 with DEN
replaced 14107 with PHX
replaced 14057 with PDX
replaced 10397 with ATL
replaced 13198 with MCI
replaced 11630 with FAI
replaced 12173 with HNL
replaced 10732 with BQN
replaced 14254 with PSE
replaced 10141 with ABR
replaced 10627 with BIS
replaced 11982 with GRK
replaced 12402 with ITO
replaced 13303 with MIA
replaced 14683 with SAT
replaced 11618 with EWR
replaced 10721 with BOS
replaced 11884 with GEG
replaced 15919 with XNA
replaced 13851 with OKC
replaced 11111 with COU
replaced 12191 with HOU
replaced 14783 with SGF
replaced 15016 with STL
replaced 12758 with KOA
replaced 14487 with RDD
replaced 13830 with OGG
replaced 10423 with BSM
replaced 15370 with TUL
replaced 11953 with GNV
replaced 13891 with ONT
replaced 15376 with TUS
replaced 12478 with JFK
replaced 11778 with FSM
replaced 11278 with DCA
replaced 14100 with PHL
replaced 13204 with MCO
replaced 15304 with TPA
replaced 11637 with FAR
replaced 14842 with SJT
replaced 10155 with ACT
replaced 11775 with FSD
replaced 12982 with LIH
replaced 13931 with ORF
replaced 10821 with BWI
replaced 14122 with PIT
replaced 11049 with CLL
replaced 10990 with CHO
replaced 10631 with BJI
replaced 13158 with MAF
replaced 14108 with PIA
replaced 11697 with FLL
replaced 11447 with DVL
replaced 12206 with HRL
replaced 13495 with MSY
replaced 15624 with VPS
replaced 10747 with BRO
replaced 15411 with TYR
replaced 12891 with LAW
replaced 10994 with CHS
replaced 13256 with MFE
replaced 10792 with BUF
replaced 14492 with RDU
replaced 12451 with JAX
replaced 13577 with MYR
replaced 13127 with LWS
replaced 10781 with BTR
replaced 14960 with SPS
replaced 12278 with ICT
replaced 14685 with SAV
replaced 11995 with GSO
replaced 13485 with MSN
replaced 11977 with GRB
replaced 12339 with IND
replaced 13232 with MDW
replaced 11259 with DAL
replaced 10257 with ALB
replaced 13796 with OAK
replaced 10140 with ABQ
replaced 13296 with MHT
replaced 14570 with RNO
replaced 14893 with SMF
replaced 14524 with RIC
replaced 12217 with HSV
replaced 10713 with BOI
replaced 10208 with AGS
replaced 10136 with ABI
replaced 11603 with EUG
replaced 14689 with SBA
replaced 11471 with EAU
replaced 11315 with DIK
replaced 13264 with MFR
replaced 14814 with SHV
replaced 11308 with DHN
replaced 11066 with CMH
replaced 12896 with LBB
replaced 14831 with SJC
replaced 14307 with PVD
replaced 14843 with SJU
replaced 11721 with FNT
replaced 11140 with CRP
replaced 10185 with AEX
replaced 13277 with MGM
replaced 11203 with CWA
replaced 13342 with MKE
replaced 11433 with DTW
replaced 12953 with LGA
replaced 10599 with BHM
replaced 12156 with HLN
replaced 14952 with SPI
replaced 10620 with BIL
replaced 11042 with CLE
replaced 15096 with SYR
replaced 10408 with ATW
replaced 15249 with TLH
replaced 11423 with DSM
replaced 12915 with LCH
replaced 12264 with IAD
replaced 14679 with SAN
replaced 13871 with OMA
replaced 14027 with PBI
replaced 13244 with MEM
replaced 11267 with DAY
replaced 11540 with ELP
replaced 14576 with ROC
replaced 10868 with CAE
replaced 13486 with MSO
replaced 13476 with MRY
replaced 14489 with RDM
replaced 12945 with LEX
replaced 15607 with VLD
replaced 10529 with BDL
replaced 11986 with GRR
replaced 14635 with RSW
replaced 10785 with BTV
replaced 15380 with TVC
replaced 11996 with GSP
replaced 10561 with BFL
replaced 10874 with CAK
replaced 13367 with MLI
replaced 10146 with ABY
replaced 10431 with AVL
replaced 11973 with GPT
replaced 10980 with CHA
replaced 12197 with HPN
replaced 14098 with PHF
replaced 12323 with ILM
replaced 10577 with BGM
replaced 11150 with CSG
replaced 10135 with ABE
replaced 11617 with EWN
replaced 13795 with OAJ
replaced 13029 with LNK
replaced 11003 with CID
replaced 11146 with CRW
replaced 11577 with ERI
replaced 15356 with TTN
replaced 10279 with AMA
replaced 14908 with SNA
replaced 14321 with PWM
replaced 11638 with FAT
replaced 14828 with SIT
replaced 12954 with LGB
replaced 11481 with ECP
replaced 12951 with LFT
replaced 10434 with AVP
replaced 12448 with JAN
replaced 14730 with SDF
replaced 15323 with TRI
replaced 14252 with PSC
replaced 11193 with CVG
replaced 10849 with BZN
replaced 14193 with PNS
replaced 14986 with SRQ
replaced 11641 with FAY
replaced 12992 with LIT
replaced 13422 with MOB
replaced 11612 with EVV
replaced 11823 with FWA
replaced 11980 with GRI
replaced 13290 with MHK
replaced 10158 with ACY
replaced 10685 with BMI
replaced 13377 with MLU
replaced 11109 with COS
replaced 11076 with CMX
replaced 11122 with CPR
replaced 11865 with GCC
replaced 14543 with RKS
replaced 14905 with SMX
replaced 11587 with ESC
replaced 14457 with RAP
replaced 12335 with IMT
replaced 12343 with INL
replaced 12003 with GTF
replaced 10157 with ACV
replaced 12884 with LAN
replaced 14633 with RST
replaced 15048 with SUX
replaced 10268 with ALO
replaced 15295 with TOL
replaced 12389 with ISN
replaced 11525 with EKO
replaced 14262 with PSP
replaced 12888 with LAR
replaced 12391 with ISP
replaced 11648 with FCA
replaced 14696 with SBN
replaced 10469 with AZO
replaced 15412 with TYS
replaced 10731 with BQK
replaced 10800 with BUR
replaced 10551 with BET
replaced 11413 with DRO
replaced 13433 with MOT
4300000
replaced 11867 with GCK
replaced 14698 with SBP
replaced 11537 with ELM
replaced 15389 with TWF
replaced 11337 with DLH
replaced 13360 with MLB
replaced 13076 with LSE
replaced 14006 with PAH
replaced 10728 with BPT
replaced 15401 with TXK
replaced 13230 with MDT
replaced 12016 with GUM
replaced 11067 with CMI
replaced 11274 with DBQ
replaced 11921 with GJT
replaced 12519 with JMS
replaced 11013 with CIU
replaced 13970 with OTZ
replaced 10779 with BTM
replaced 14150 with PLN
replaced 14794 with SGU
replaced 12511 with JLN
replaced 12177 with HOB
replaced 12523 with JNU
replaced 13184 with MBS
replaced 12007 with GTR
replaced 14588 with ROW
replaced 13061 with LRD
replaced 15041 with SUN
replaced 14574 with ROA
replaced 14109 with PIB
replaced 12441 with JAC
replaced 12898 with LBE
replaced 16218 with YUM
replaced 14113 with PIH
replaced 11624 with EYW
replaced 11503 with EGE
replaced 10739 with BRD
replaced 14711 with SCE
replaced 12819 with KTN
replaced 12129 with HIB
replaced 15070 with SWF
replaced 14520 with RHI
replaced 11252 with DAB
replaced 15024 with STT
replaced 12280 with IDA
replaced 12255 with HYS
replaced 14709 with SCC
replaced 13241 with MEI
replaced 10372 with ASE
replaced 11898 with GFK
replaced 14674 with SAF
replaced 10918 with CDC
replaced 13933 with ORH
replaced 10333 with APN
replaced 11905 with GGG
replaced 13459 with MQT
replaced 10581 with BGR
replaced 13344 with MKG
replaced 15841 with WRG
replaced 15991 with YAK
replaced 10754 with BRW
replaced 13873 with OME
replaced 11695 with FLG
replaced 12094 with HDN
replaced 14256 with PSG
replaced 11097 with COD
replaced 10154 with ACK
replaced 10926 with CDV
replaced 13964 with OTH
replaced 15027 with STX
replaced 13541 with MVY
replaced 10165 with ADK
replaced 10170 with ADQ
replaced 15497 with UST
replaced 12265 with IAG
replaced 14222 with PPG
replaced 14025 with PBG
4400000
4500000
4600000
replaced 13502 with MTJ
4700000
replaced 10666 with BLI
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000

In [0]:
df

           index  ...  WEATHER_DELAY_is_missing
0              0  ...                         1
1              1  ...                         1
2              2  ...                         1
3              3  ...                         1
4              4  ...                         1
...          ...  ...                       ...
5714003  5819074  ...                         1
5714004  5819075  ...                         1
5714005  5819076  ...                         1
5714006  5819077  ...                         1
5714007  5819078  ...                         1

[5714008 rows x 31 columns]

In [0]:
df.to_csv("Handled_data.csv",index=False)

In [0]:
# Import PyDrive and associated libraries.
# This only needs to be done once in a notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a text file.
uploaded = drive.CreateFile({'title': 'Handled_data.csv'})
uploaded.SetContentFile("Handled_data.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 1QqEgDp50AvehPNV7dDn8WCJUTdspYFIL

In [0]:
Unhandled_MissingValues_Data

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY WEATHER_DELAY
0        2015      1    1  ...            NaN                 NaN           NaN
1        2015      1    1  ...            NaN                 NaN           NaN
2        2015      1    1  ...            NaN                 NaN           NaN
3        2015      1    1  ...            NaN                 NaN           NaN
4        2015      1    1  ...            NaN                 NaN           NaN
...       ...    ...  ...  ...            ...                 ...           ...
5819074  2015     12   31  ...            NaN                 NaN           NaN
5819075  2015     12   31  ...            NaN                 NaN           NaN
5819076  2015     12   31  ...            NaN                 NaN           NaN
5819077  2015     12   31  ...            NaN                 NaN           NaN
5819078  2015     12   31  ...            NaN                 NaN           NaN

[5819079 rows x 25 columns]

In [0]:
Unhandled_MissingValues_Data.to_csv("Unhandled_data.csv",index=False)

In [0]:
# Import PyDrive and associated libraries.
# This only needs to be done once in a notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a text file.
uploaded = drive.CreateFile({'title': 'Unhandled_data.csv'})
uploaded.SetContentFile("Unhandled_data.csv")
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 1pSm9G0RndmZy26uWhNQVUBqooEoveH47